# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @matt-dresden-caylent

# Specific ownership for core components
/internal/  @matt-dresden-caylent
/tftest-cli/ @matt-dresden-caylent

# Documentation ownership
/docs/      @matt-dresden-caylent
*.md        @matt-dresden-caylent